<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sathyajith.calm">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StationSearch"></activity>
        <activity android:name=".addmissing" />
        <activity android:name=".addlookout" />
        <activity android:name=".CrimeRegister" />
        <activity android:name=".LookoutSearch" />
        <activity android:name=".MissingSearch" />
        <activity android:name=".Crimesearch" />
        <activity android:name=".StationRegistration" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".user_signup" />
        <activity
            android:name=".complaint"
            android:label="@string/title_activity_complaint"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>